<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro harum dolorem, provident laborum facilis, commodi odio quisquam beatae ipsa quis ullam sapiente velit illum nesciunt! Reprehenderit nulla nisi mollitia magnam!</p>
    </div>
</section>