<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus iusto iste commodi a repellat placeat aut totam doloremque. Repudiandae blanditiis obcaecati dolorem neque quis quae a nam ut possimus praesentium?</p>

    <hr class="my-4">

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus assumenda quos itaque numquam molestiae in, earum officiis minus? Veniam, ab? Libero nam quam enim quidem quo sapiente officia earum obcaecati?</p>

    <a href="https://www.youtube.com/c/FaztCode/search?query=node" class="btn btn-primary">Fastweb</a>
</div>